html{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/* Header  */
header{
    width: 100%;
    border-bottom: 1px solid bisque;
}

header .content{
    display: flex;
    align-items: center;
    padding:0.5rem 2rem;
}

header a{
    flex: 1;
    font-weight: 600;
    font-size: 1.5rem;
}
header a span{
    padding: 5px;
    background-color: #FFA149;
    border-radius:5px;
    font-weight: 500;
    color:  white;
}

header nav ul {
    display: flex;
}

header ul li{
    padding: 1rem;
    padding-left: 2rem;
}

nav a {
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
}

.order-button{
    padding-left: 0;
    padding:1rem;
    margin-left: 2rem;
    background-color: #FFA149;
}

header .menu{
    display: none;
}

.nav-res{
    display: none;
}

@media only screen and (max-width:650px){
    .nav-full{
        display: none;
    }
    header .menu{
        display: block;
    }
    .nav-responsive{
        display: block;
    }
    .nav-responsive ul{
        display: flex;
        flex-direction: column;
    }
}